.body{
    margin: 0px;
}

.Header{
    display: flex;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

nav{
    font-weight: bold;
        display: flex;
        gap: 120px;
    }
    
 a{
     text-decoration: none;
     color: black;
    }

.jumbotron{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    align-content: center;
}
.container{
    justify-content: center;
    display: flex;
    gap: 120px;
    margin-top: 200px;
}
.container-2{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 120px;
}
.form{
     margin-left: 100px;
     margin-top: 50px;
     width: 30%;
}